body {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  font-size: 16px;
}

h1 {
  font-weight: 300;
  font-size: 16px;
}

h2 {
  margin-bottom: 20px;
  font-size: 16px;
}

img {
  float: left;
  vertical-align: left;
}

.content-wrapper {
  max-width: 400px;
  margin: 30px auto;
}

.content {
  padding: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.degree-celcius {
  text-align: end;
  font-size: 14px;
  height: 80px;
  line-height: 100px;
}

.humidity,
.current-time {
  font-weight: 400;
  line-height: 80px;
}
.city-name {
  line-height: 80px;
}

.fas {
  font-size: 34px;
  margin: 10px 10px;
}

.fa-map-marker-alt {
  color: orange;
  font-size: 34px;
  margin: 0;
  padding: 0 px;
}

.btn {
  transition: all 200ms ease;
  padding: 0;
}
.btn:hover {
  cursor: pointer;
}

a .footnote {
  font-size: 14px;
}

.transparent-input {
  background-color: transparent !important;
  color: white;
  text-align: center;
  padding: 0;
}
.temperature-display {
  font-size: 54px;
  padding: 0;
  position: relative;
  top: -11px;
}

.units {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}
.active {
  text-decoration: none;
  color: #fff;
}
.active:hover {
  color: #fff;
}
